.login_content{
    background: linear-gradient(to bottom right, #8C1EFF, #0077FF);
    padding: 25px;
    height: 520px;
    color: white;
}
.text-red{
    color: orange
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .p-card {
    text-align: center;
  }