<app-banner title="Paramétrer votre compte"></app-banner>
<div class="container py-4">
    <p-tabView class="mt-4">
        <p-tabPanel header="Identifiants" leftIcon="pi pi-user-edit" >  
            <div class="my-4 p-text-center row d-flex justify-content-center "> 
                <div class="col-md-6 col-sm-8">
                    <p-card>
                        <ng-template pTemplate="header">
                          <div class="text-center pt-2">
                            <h2 class="m-0 p-0">Changez vos identifiants de connexion</h2>
                          </div>
                        </ng-template>
                        <form [formGroup]="idForm" (ngSubmit)="change_user_details()">  
                            <div class="p-fluid">
                                <div class="p-field my-2">
                                    <span class="p-float-label">
                                        <input type="text" id="email" (change)="id_changed=true" pInputText formControlName="email"> 
                                        <label for="email">Email</label>
                                    </span>
                                </div>
                                <small class="p-error" *ngIf="idForm.get('email')?.invalid && (idForm.get('email')?.dirty || idForm.get('email')?.touched)">
                                  Entrez un email valide !
                                </small>
                                <div class="p-field my-5">
                                    <span class="p-float-label">
                                        <input type="text" id="username" (change)="id_changed=true" pInputText formControlName="username"> 
                                        <label for="username">Username</label>
                                    </span>
                                </div> 
                                <small class="p-error" *ngIf="idForm.get('username')?.invalid && (idForm.get('username')?.dirty || idForm.get('username')?.touched)">
                                  Entrez un nom d'utilisateur !
                                </small>  
                                <div class="text-center mt-4">
                                  <p-button type="submit" styleClass="p-button-success" [disabled]="!idForm.valid">Modifier vos identifiants</p-button>
                                </div>
                            </div>
                        </form> 
                    </p-card>  
                </div>
            </div> 
        </p-tabPanel>
        <p-tabPanel header="Mots de passe" leftIcon="pi pi-key">             
            <div class="my-4 p-text-center row d-flex justify-content-center "> 
                <div class="col-md-6 col-sm-8">
                    <p-card>
                        <ng-template pTemplate="header">
                          <div class="text-center pt-2">
                            <h2 class="m-0 p-0">Changez votre mot de passe</h2>
                          </div>
                        </ng-template>
                        <form [formGroup]="passwordForm" (ngSubmit)="change_user_password()">  
                            <div class="p-fluid">
                                <div class="p-field">
                                    <span class="p-float-label">
                                        <p-password inputId="password" id="password" [feedback]="false" [toggleMask]="true" aria-describedby="password-help" formControlName="last_password"></p-password>
                                        <label for="password">Ancien Mot de passe</label>
                                    </span>
                                </div>
                                <small class="p-error mb-4" *ngIf="passwordForm.get('last_password')?.invalid && (passwordForm.get('last_password')?.dirty || passwordForm.get('last_password')?.touched)">
                                  Entrez un mot de passe !
                                </small>
                                <div class="p-field mt-4">
                                    <span class="p-float-label">
                                        <p-password inputId="new_password" id="new_password" [toggleMask]="true" aria-describedby="password-help" formControlName="new_password"></p-password>
                                        <label for="new_password">Nouveau Mot de passe</label>
                                    </span>
                                </div>
                                <small class="p-error mb-4" *ngIf="passwordForm.get('new_password')?.invalid && (passwordForm.get('new_password')?.dirty || passwordForm.get('new_password')?.touched)">
                                  Entrez un nouveau mot de passe valide avec au moins 8 caractères !
                                </small> 
                                <div class="p-field mt-4">
                                    <span class="p-float-label">
                                        <p-password inputId="confirmed_new_password" id="confirmed_new_password" [toggleMask]="true" aria-describedby="password-help" formControlName="confirmed_new_password"></p-password>
                                        <label for="confirmed_new_password">Nouveau Mot de passe</label>
                                    </span>
                                </div>
                                <small class="p-error" *ngIf="passwordForm.get('confirmed_new_password')?.invalid && (passwordForm.get('confirmed_new_password')?.dirty || passwordForm.get('confirmed_new_password')?.touched)">
                                  Confirmez votre nouveau mot de passe
                                </small> 
                                <small class="p-error mb-4" *ngIf="passwordsDoNotMatch && (passwordForm.get('confirmed_new_password')?.dirty || passwordForm.get('confirmed_new_password')?.touched)">
                                  Les mots de passes ne correspondent pas !
                                </small> 
                                <div class="text-center mt-4">
                                  <p-button type="submit" styleClass="p-button-success" [disabled]="!passwordForm.valid">Changer votre mot de passe</p-button>
                                </div>
                            </div>
                        </form> 
                    </p-card>  
                </div>
            </div> 
        </p-tabPanel>
    </p-tabView>
</div>