<app-banner title="Paramétrer votre compte"></app-banner>
<div class="container py-4">
    <p-tabView class="mt-4">
        <p-tabPanel header="Identifiants" leftIcon="pi pi-user-edit" >  
            <div class="my-4 p-text-center">      
                <div class="field col-12 md:col-12 my-5">
                    <span class="p-float-label">
                        <input type="text" id="email" (change)="id_changed=true" pInputText [(ngModel)]="email"> 
                        <label for="email">Email</label>
                    </span>
                </div>
                <div class="field col-12 md:col-12 my-5">
                    <span class="p-float-label">
                        <input type="text" id="username" (change)="id_changed=true" pInputText [(ngModel)]="username"> 
                        <label for="username">Username</label>
                    </span>
                </div>
            </div>    
            <div class="text-center mt-4">
              <button (click)="change_user_details()" type="button" [disabled]="!id_changed" class="btn btn-success">Modifier vos identifiants</button>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Mots de passe" leftIcon="pi pi-key">
            <div class="field col-12 md:col-12 mt-5">
                <span class="p-float-label">
                    <p-password inputId="password" id="password" [toggleMask]="true" aria-describedby="password-help"  [(ngModel)]="last_password" [ngClass]="{'p-invalid': !last_password}"></p-password>
                    <label for="password">Ancien Mot de passe</label>
                </span>
                <small *ngIf="!password" id="password-help" class="p-error block">Ce champ est requis !</small>
            </div>
            <div class="field col-12 md:col-12 mt-5">
                <span class="p-float-label">
                    <p-password inputId="new_password" id="new_password" [toggleMask]="true" aria-describedby="new_password-help"  [(ngModel)]="new_password" [ngClass]="{'p-invalid': !new_password}"></p-password>
                    <label for="new_password">Nouveau Mot de passe</label>
                </span>
                <small *ngIf="!new_password" id="new_password-help" class="p-error block">Ce champ est requis !</small>
            </div>
            <div class="field col-12 md:col-12 mt-5">
                <span class="p-float-label">
                    <p-password inputId="confirmed_new_password" id="confirmed_new_password" [toggleMask]="true" aria-describedby="confirmed_new_password-help"  [(ngModel)]="confirmed_new_password" [ngClass]="{'p-invalid': !confirmed_new_password}"></p-password>
                    <label for="confirmed_new_password">Confirmer Mot de passe</label>
                </span>
                <small *ngIf="!confirmed_new_password" id="confirmed_new_password-help" class="p-error block">Ce champ est requis !</small>
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-success">Changer de mot de passe </button>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>