<div class="jumbotron">
  <div class="container h-100 w-100 d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-center text-white">{{title}}</h1>
    <div class="row d-flex justify-content-center text-white" *ngIf="description">
      <div class="col-sm-11 col-md-10 col-lg-8 text-center">
        <h4 style="text-decoration: underline;">Durée de Fonctionnement</h4>
      </div>
      <div class="col-sm-11 col-md-10 col-lg-8">
        <h5 class="float-start">Totale :</h5>
        <h5 class="float-end">{{duree_totale}}</h5>
      </div>
      <div class="col-sm-11 col-md-10 col-lg-8">
        <h5 class="float-start">Depuis vidange :</h5>
        <h5 class="float-end">{{duree_vidange}}</h5>
      </div>
      <div class="col-sm-11 col-md-10 col-lg-8">
        <h5 class="float-start">Vidange :</h5>
        
        <h5 class="float-end" *ngIf="date_vidange; else date_vidange_null">{{date_vidange | camerounDate: "DD/MM/yyyy à HH:mm"}}</h5>
        <ng-template #date_vidange_null>
          <h5 class="float-end">Aucune vidange</h5>
        </ng-template>
      </div>
    </div>
  </div>
</div>
